* {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
}

body, html{
    overflow-x: hidden;
}

@font-face {
    font-family: "EXEPixelPerfect";
    src: local("EXEPixelPerfect"),
     url("./fonts/EXEPixelPerfect.ttf") format("truetype");
}

.app {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

h1 {  font-size: 30px; }
h2 {  font-size: 21px; font-weight: 300; }
h3 { font-size: 20px; }

@media (min-width: 450px) {
    h1 { font-size: 60px; }
    h2 { font-size: 40px; }
    h3 { font-size: 25px; }
    p { font-size: 20px; }
    a { font-size: 25px; }
}